*{
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;

}


.banner{
    height: 400px;
    width: 850px;
    background-image: url("./assents/banner.png"); /*Ele adiciona uma imagem com fundo*/
    background-repeat: no-repeat;
    background-size: cover;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 25px;

}

ul{
    display: flex; /*ativa a propriedade de alinhamento*/
    flex-direction: row; /*coloca os ele*/
}

li{

list-style: none; /*remove os pontoa*/

}

nav{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

#logo{

    height: 100px;
    width: 100;
}
.bi{
    font-size: 35px;
    color: #4c544c;
}